.card-body {
  .select-field-pb {
    padding-bottom: 0.055rem;
  }
  &.vehicle-lookup {
    padding-top: .5rem  ;
  }
}
.form-control:focus {
  border-color: red;
}

.popup {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);

  .container-popup-info {
    position: relative;
    width: 100%;
    height: 100%;

    .popup_inner {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-height: 50rem;
      max-width: 50rem;
      border-radius: 2%;
      background: white;
      border: solid #ffc107 0.05rem;
    }

    .title-information {
      color: #fff;
      background-color: #ffc107;
    }

    .modal-footer-info {
      align-items: center;
      justify-content: center;
      padding: 0 0.5rem;
    }
  }
}

.btn-check {
  height: 2rem;
  margin-top: 3.6rem;
  padding: 0 1rem;
}
